<div class="container">
    <h1>My First Attribute Directive</h1>
    <p my-high-light highlightColor="#ff3300">内容高亮显示！</p>
    <div my-high-light highlightColor="#00ff00">这是DIV里面的内容</div>
    <span my-high-light highlightColor="#0000ff">这是span里面的内容</span>
    <form my-high-light highlightColor="#00ff00" style="padding:15px;">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </form>

    <card my-high-light highlightColor="#ff3300">

    </card>

    <div *ngFor="let item of [1,2,3]">
        <card *appDelay="500 * item">
            第 {{item}} 张卡片
        </card>
    </div>
</div>