.pagination ul{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.pagination li{
    line-height: 25px;
    margin: 0 5px;
    float: left;
}

.pagination a{
    display: block;
    color: #F2F2F2;
    text-shadow: 1px 0 0 #101011;
    padding: 0 10px;
    border-radius: 2px;
    box-shadow: 0 1px 0 #5a5b5c inset,0 1px 0 #080808;
    background:linear-gradient(top,#434345,#2f3032);
}

.pagination a:hover{
    text-decoration: none;
    box-shadow: 0 1px 0 #f9bd71 inset,0 1px 0 #0a0a0a;
    background: linear-gradient(top,#f48b03,#c87100);
}